.temperature {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
@media only screen and (max-width: 500px) {
  /* For mobile: */
  .temperature {
    width: 65%;
  }
}
@media only screen and (min-width: 320px) {
  /* For mobile: */
  .fahrenheit {
    padding-left: 6px;
  }
  .temperature {
    padding-top: 20px;
  }
}
