.card {
  overflow-x: auto;
  margin: 0 10%;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
}

.card::-webkit-scrollbar {
  opacity: 0;
}

.temp-container {
  cursor: pointer;
  transition: all ease 0.2s;
  height: 180px;
  min-width: 200px;
  border: 1px solid gray;
  margin: 10px;
  font-size: medium;
  font-weight: bold;
  scroll-snap-align: snap;
}

.clicked {
  border: 2px solid black;
}

.temp-container h1 {
  line-height: 2.5rem;
}

@media only screen and (min-width: 992px) {
  /* For Laptop: */
  .card {
    margin: 0 14%;
  }
}

@media screen and (min-width: 1500px) {
  .card {
    margin: 0 25%;
  }
}
@media only screen and (min-width: 320px) {
  /* For mobile: */
  .temp-container {
    height: auto;
  }
}
